<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coursedesign">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RootTeaUpdActivity"></activity>
        <activity android:name=".RootTeaDelActivity" />
        <activity android:name=".RootTeaAddActivity" />
        <activity android:name=".RootStuUpdActivity" />
        <activity android:name=".RootStuDelActivity" />
        <activity android:name=".RootStuAddActivity" />
        <activity android:name=".RootSTActivity" />
        <activity android:name=".RootInforActivity" />
        <activity android:name=".RootTeaIndexActivity" />
        <activity android:name=".RootStuIndexActivity" />
        <activity android:name=".RootIndexActivity" />
        <activity android:name=".TeaAnsListActivity" />
        <activity android:name=".TeaIndexActivity" />
        <activity android:name=".StuQuesListActivity" />
        <activity android:name=".StuQuesAskActivity" />
        <activity android:name=".StuIndexActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>