<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.android_ui">

<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="主界面"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".testTest" />
    <activity
        android:name=".testStyle"
        android:label="@string/app_name"
        android:theme="@style/grayTheme" />
    <activity android:name=".testButton" />
    <activity android:name=".qqLogin" />
    <activity
        android:name=".testTextView"
        android:label=".TextView" />
    <activity
        android:name=".frameLayout"
        android:label="frameLayout" />
    <activity
        android:name=".relativeLayout"
        android:label="relativeLayout" />
    <activity
        android:name=".linearLayout"
        android:label="LinearLayout" />
    <activity android:name=".testDialog" />
    <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>

</manifest>